@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Ubuntu&display=swap');

:root {
    --main-color: #1789AB;
    --sub-color: #18537A;
    --text-color: #FFFFFF;
    --off-White-color: #b8c9d3;
    --dark-color: #0E2D44;
    --warning-green: #7eb356;
    --warning-yellow: #f9c74f;
    --warning-orange: #ed8607;
    --warning-red: #f94144;

    --font: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: var(--text-color);

}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(23, 137, 171);
    background: -moz-linear-gradient(180deg, rgba(23, 137, 171, 1) 20%, rgba(24, 109, 146, 1) 61%, rgba(24, 83, 122, 1) 84%, rgba(27, 65, 93, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(23, 137, 171, 1) 20%, rgba(24, 109, 146, 1) 61%, rgba(24, 83, 122, 1) 84%, rgba(27, 65, 93, 1) 100%);
    background: linear-gradient(180deg, rgba(23, 137, 171, 1) 20%, rgba(24, 109, 146, 1) 61%, rgba(24, 83, 122, 1) 84%, rgba(27, 65, 93, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1789ab", endColorstr="#1b415d", GradientType=1);

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

header {

    margin-top: 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 25px;
}

header form {
    width: 300px;
}

header input {
    font-family: var(--font);
    padding: 3px 10px 3px 10px;
    width: 90%;
    height: 25px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: var(--text-color);
    font-weight: bold;
    background-color: var(--dark-color);
    appearance: none;
    transition: 0.15s ease-in-out;
    border: 3px solid var(--dark-color);
}

header input:focus,
header button:hover {
    outline: none;
    border: 3px solid var(--text-color);
}

.active{
    border: 3px solid var(--text-color);
}

::placeholder {
    color: var(--off-White-color);
}

header .logo {
    width: 200px;
}

header .units {
    width: 200px;
}

header button {
    font-size: 15px;
    border: none;
    background-color: var(--dark-color);
    color: var(--text-color);
    padding: 10px 15px 10px 15px;
    border-radius: 100px;
    font-family: var(--font);
    font-weight: bold;
    transition: 0.15s ease-in-out;
    border: 3px solid var(--dark-color);
}

.main {
    margin-top: 45px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .location {
    font-size: 40px;
    font-weight: bold;
}

.main .current-time {
    font-size: 20px;
    color: var(--off-White-color);
}

.weather {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.main-weather {
    display: flex;
    flex-direction: column;


}

.main-weather .weather-temp {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}

.weather-temp {
    display: flex;
    align-items: center;

    gap: 0px;
}

.main-weather .weather-description .weather-text {
    font-size: 30px;
    font-weight: bold;
}

.weather-description {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
}

.feels-like,
.wind-text {
    font-size: 15px;
    color: var(--off-White-color);
    font-weight: bold;
}

.extra-weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 20px;
}

.grid-element {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    font-weight: bold;
}

.grid-element .title {
    color: var(--off-White-color);
    margin-bottom: 10px;
}

.wind-content {
    display: flex;
    gap: 10px;
}

.grid-sub img {
    rotate: 0deg;
}

.grid-sub .weather-grid-text {
    color: var(--text-color);
    font-size: 20px;
}

.grid-sub {
    text-align: start;
    height: 50px;
}

.uv-text {
    color: var(--off-White-color);
    background-color: var(--warning-yellow);
    padding: 4px 10px;
    border-radius: 20px;

}

.next-days-title {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

.next-days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.days {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--off-White-color);
    align-items: center;

}

.days .date {
    font-size: 20px;
    font-weight: bold;

}

.next-days-temp {
    display: flex;
    align-items: center;
    gap: 0px;
}

.next-days-temp-text {
    font-size: 20px;
    font-weight: bold;
}

.next-days-fields {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr;
    grid-template-rows: 1fr;
    gap: 70px;
}

.fields-container {
    width: 420px;
}

.field-temp {
    margin-left: 20px;
}

.field-day {
    font-size: 20px;
    font-weight: bold;
}
.field-wind{

place-self: center;
}

form {
    position: relative;
}

form button {
    padding: 0;
    position: absolute;
    border: none;
    top: 9px;
    right: 15px;
    transition: none;
}

form .form-button:hover {
    cursor: pointer;
    border: none;
}

.max-wind-container {
    margin-left: 20px;
    display: flex;
    gap: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d2e6ec;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #878a9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #494d58;
}

@media only screen and (max-width: 950px) {
    body {
        width: 87.10vw;
        height: 150vh;
        margin-left: 20px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .weather {
        flex-direction: column;
        gap: 5px;
    }

    .main-weather {
        flex-direction: row;
        align-items: center;
        justify-content: center;
       flex-direction: column;
        gap: 20px;
    }

    .grid-element{
        align-items: center;
        justify-items: center;
    }
    .grid-sub{
      text-align: center;
    }

    .main-weather .weather-temp {
        margin-bottom: 0;

    }

    .weather-description {
        align-items: flex-start;

    }

    .main .location {
        text-align: center;
    }

    .next-days {
        width: 350px;
    }

    .days {
        gap: 20px;
    }
.field-day{
    width: 100px;
}
.field-temp{
    width: 70px;
}
.field-rain{
    width: 50px;
}
    .days .date {
        width: 120px;
    }

    .fields-container {
        width: auto;
    }

    header .logo {
        width: auto;
    }

    header .units {
        width: auto;
    }

}